<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Show Category List</title>
</head>
<body>
<h1>Job category List</h1>
<table>
		<thead>
			<tr>
				<th>Category Id</th>
				<th>Category Code</th>
				<th>Category Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cat:${category}">
				<td th:text="${cat.catId}">Category Id</td>
				<td th:text="${cat.catCode}">Category Code</td>
				<td th:text="${cat.catName}">Category Name</td>
				<td th:text="${cat.catDesc}">Description</td>
			
				<td><a
					th:href="@{/update/{id}(id=${cat.catId})}">Edit</a></td>
				<td><a
					th:href="@{/delete/{id}(id=${cat.catId})}">Delete</a></td>
			</tr>
			
		</tbody>
	</table>
	

</body>
</html>